parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_table_prefix: sl_

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    github_token:      12345678901234567890
    github_password:   ~
    github_auth_http:  http_token
    zorbus_linkedin.key:      LinkedInKey
    zorbus_linkedin.secret:   LinkedInSecret
    zorbus_linkedin.scope:    [r_basicprofile, r_fullprofile, r_contactinfo, r_network, r_emailaddress]
    twitter_access_token: ~
    twitter_access_secret: ~
    twitter_consumer_key: ~
    twitter_consumer_secret: ~
    google_client_id: ~
    google_client_secret: ~
    google_api_key: ~
    google_app_name: ~
    instagram_client_id: ~
    instagram_client_secret: ~
    instagram_access_token: ~
